<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springbootj_zhiyuan.mapper.GroupMapper">
    <select id="findByName" resultType="com.springbootj_zhiyuan.entity.Group">
        SELECT * FROM `Group`
      where
      groupname=#{groupname}
    </select>
    <insert id="addGroup" >
        INSERT INTO `Group` (groupname,company) values (#{groupname},#{company})
    </insert>
    <update id="updateGroup">
        update `Group` set groupname=#{groupname},company=#{company} where groupid=#{groupid}
    </update>
    <delete id="deleteGroup">
        delete from `Group` where groupid=#{groupid}
    </delete>
    <select id="findById" resultType="com.springbootj_zhiyuan.entity.Group">
        select * from `Group`
        where groupid=#{groupid}
    </select>
</mapper>