<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springbootj_zhiyuan.mapper.UrAndAcMapper">
    <select id="findByAccount" resultType="com.springbootj_zhiyuan.entity.UrAndAc">
        select * from UrAndAc
        where account=#{account}
    </select>
    <select id="findByActivityId" resultType="com.springbootj_zhiyuan.entity.UrAndAc">
        select * from UrAndAc
        where activityid=#{activityid}
    </select>
    <insert id="addUrAndAc">
        insert into UrAndAc (account,activityid) values (#{account},#{activityid})
    </insert>
    <delete id="deleteUrAndAc">
        delete from UrAndAc where account=#{account} and activityid=#{activityid}
    </delete>
    <delete id="deleteByAccount">
        delete from UrAndAc where account=#{account}
    </delete>
    <delete id="deleteByActivityId">
        delete from UrAndAc where activityid=#{activityid}
    </delete>
    <select id="findboolean" resultType="com.springbootj_zhiyuan.entity.UrAndAc">
        select * from UrAndAc
        where activityid=#{activityid} and account=#{account}
    </select>
</mapper>